droplet/droplet.app/Contents/Info.plist
droplet/droplet.app/Contents/PkgInfo
droplet/droplet.app/Contents/_CodeSignature/CodeResources
droplet/droplet.app/Contents/MacOS/Droplet
droplet/droplet.app/Contents/Resources/Droplet.8BDR
droplet/droplet.app/Contents/Resources/DropletIcons.icns
droplet/droplet.app/Contents/Resources/English.lproj/MainMenu.nib
